<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    
    <div id="app">
            <div class="container">
                    <div class="col-md-4">                    
                            <input type="checkbox" id="democrat" value="D" v-model="selectedParty">
                            <label for="democrat">democrat</label>
                            <input type="checkbox" id="republican" value="R" v-model="selectedParty">
                            <label for="republican">republican</label>
                            <input type="checkbox" id="independant" value="I" v-model="selectedParty">
                            <label for="independant">imdepend </label>
                            <br>
                            <span>selectedParty: {{ selectedParty }}</span>
                            <span>selectedState: {{ selectedState }}</span>
                            <span>sorted ==> {{ sorted }} </span>
                            
                            <select id="states" v-model="selectedState" v-on:change="dataChanged">
                                <option v-for="state in states" :value="state">
                                    {{state}}
                                </option>
                            </select>
                    </div> 
                </div>
                
        <table>
            <thead class="thead-dark">
                <th >Members</th>
                <th >Name</th>
                <th >Party</th>
                <th >votes_with_pct</th>
                <th >State</th>
                <th >Homepage</th>
            </thead>
            <tbody>
            <tr v-for="item in results">
                <td>{{item | properName }}</td>
                <td>{{item.party}} </td>
                <td>{{item.votes_with_pct}}</td>
                <td>{{item.state}}</td>
                <td>{{item.url}}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./main.js"></script> 
    </body>
</html>